<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Nehal Garg</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      body {
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
      }
      .container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      h5 {
        color: #2c3e50;
        margin-top: 20px;
      }
      h6 {
        color: #3498db;
        margin-bottom: 20px;
      }
      p {
        color: #555;
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <div class="container my-4 mt-4">
      <h6>About Nehal Garg: Your Tech Enthusiast & Developer</h6>
      <h5>Meet the Developer</h5>
      <p>
        Hello, I'm Nehal Garg, a pre-final year Computer Science and Engineering student at Netaji Subhash University of Technology (NSUT). With a passion for technology and a drive to excel, I have developed expertise in web development, competitive programming, and cloud computing.
      </p>
      <h5>My Expertise</h5>
      <p>
        My journey in tech includes internships, training programs, and leadership roles. I have worked as a Web Development Intern at NEXUS-IT and completed rigorous training at Devtown, focusing on data structures, algorithms, and C++ competitive programming. Additionally, I contribute as the Content Head for the Indian Game Theory Society (IGTS) at NSUT.
      </p>
      <h5>A Commitment to Excellence</h5>
      <p>
        I believe in blending technical proficiency with creativity. Whether it's solving complex algorithmic problems, crafting efficient cloud solutions, or writing engaging content, I am committed to delivering excellence in everything I do.
      </p>
      <h5>Passion for Sharing Knowledge</h5>
      <p>
        As a tech enthusiast, I take great joy in helping juniors navigate their own learning journeys. I am also a dedicated writer, having authored research papers, newsletters, and various tech-related articles. Sharing knowledge and empowering others remains a cornerstone of my professional ethos.
      </p>
      <h5>Join Me on this Journey</h5>
      <p>
        Explore the projects and content I've worked on, and let's collaborate to create impactful solutions. Together, we can shape a future where technology drives innovation and enriches lives.
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
